@import '../../../partials/colors';
@import '../../../partials/fonts';
@import '../../../partials/spacing';

.Button {
  cursor: pointer;
  background-color: color(pink, base);
  border: 0;
  color: color(white, base) !important;
  font-weight: 600;
  padding: 0;
  transition: .4s;
  font-family: font(main);
  line-height: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  padding: space(4);
  width: 100%;

  &.menu-item {
    padding: 0;
  }
  
  &:hover {
    background-color: color(gray, darker) !important;
  }

  &.dark {
    background-color: color(gray, darker);
    &:hover {
      background-color: color(pink, base);
    }
  }
}