@import '../../../partials/spacing';
@import '../../../partials/colors';

@media only screen and (max-width: 768px) {
  .Section {
    padding: space(13) space(5);
  }
}

@media only screen and (min-width: 769px) {
  .Section {
    padding: space(13) space(12) + space(12) + space(12);
    border-bottom: 1px solid color(gray, base);
    width: 100%;
    box-sizing: border-box;
  }
  
  .SectionHeader {
    padding: space(5) 0 space(8);

    h2 {
      padding: space(1);
    }
  }
}