@import '../../../partials/colors';
@import '../../../partials/spacing';

.slider {
  position: relative;
  
  .carousel {
    height: 100vh;

    .slide {
      filter: brightness(.75);
    }
  }
}

main {
  padding: 0 space(12) + space(12) + space(12);
}